<div id="newQuestion">

  <% @questions.each do |q| %>
  <%= content_tag :div, class: "question_" + q.id.to_s do %>
  <div class="row center-col">
    <h3>Would you rather...</h3>
        <div class="col m3">
          <div class="card">
            <div class="card-image">
              <%= image_tag q.avatar2.url(:medium) %>
            </div>
            <div class="card-action">
              <%= link_to q.option_2, question_answers_path(q, :option_2 => q), method: :post %>
            </div>
          </div>
        </div>
        <div class="col m2 center-text">
          <h2>Or</h2>
          <%= link_to "Results", user_question_path(current_user, q), remote: true, class: "btn" %>
        </div>
        <div class="col m3">
          <div class="card">
            <div class="card-image">
              <%= image_tag q.avatar.url(:thumb) %>
            </div>
            <div class="card-action">
              <%= link_to q.option_1, question_answers_path(q, :option_1 => q), method: :post %>
            </div>
          </div>
        </div>
      </div>
      <small>Created by <%= User.find(q.user_id).email %></small>
      <% end %>
      <div class="edit-delete">
        <% if current_user.id == q.user_id %>
        <%= link_to "Edit", edit_user_question_path(current_user, q), class: "btn  lime darken-1" %> <%= link_to "Delete", user_question_path(current_user, q), method: :delete, class: "btn red accent-4" %>
        <br><hr><br>
        <% end %>
        <% end %>
      </div>
  <ul class="questions_list">
  </ul>
</div>
<%= link_to "New Question", new_user_question_path(current_user), id: "newQuestionLink", remote: true, class: 'btn green accent-4' %>
